{% extends "admin/layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form  action="/admin/reporte/re_vistacompleta" method="get">
            <Label>Reporte de Prestamos</Label>
            <br>
            <br>
            <input type="text" id="vcedula" name="cedula_p" placeholder="Ingresar cedula" class="form-control" style="width: 170px;">
            <br>
            <input type="submit" value="Filtrar" class="btn btn-primary">
            <a href="{{ url_for('reporte.re_vistacompleta') }}" class="btn btn-primary">Completo</a>
        </form>
        
        <br>
        <table class="table table-bordered table-hover" id="myTable">
            <thead>
                <tr>
                    <th>Id de prestamo</th>
                    <th>Nombre del empleado</th>
                    <th>Cedula</th>
                    <th>Codigo de herramienta</th>
                    <th>Nombre de herramienta</th>
                    <th>Cantidad </th>
                    <th>Fecha de Prestamo</th>
                    <th >Fecha de Entrega</th>
                    <th>Estado</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                {% for item in reporte %}
                <tr>
                    <td>
                        {{item.id_p}}
                    </td>    
                    <td>
                            {{item.empleado_p}}
                        </td>
                        <td>
                            {{item.cedula_p}}
                        </td>
                        <td>
                            {{item.codigo_p}}
                        </td>
                        <td>
                            {{item.nombreh_p}}
                        </td>
                        <td>
                            {{item.stock_p}}
                        </td>
                        <td class="date1"> 
                            {{item.fecha_p}}
                        </td>
                        <td class="date2">
                            {{item.fecha_pf}}
                        </td>
                        <td class="estado">
                            {{item.estado}}
                        </td>
                        <td>
                            
                            {{item.comentario}}
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $('#myTable').DataTable({
        "language": {
            "url": "/static/js/Spanish.json"
        }
    });
    
   // Obtén todos los elementos con la clase "estado"
   const elementosEstado = document.querySelectorAll(".estado");

// Itera sobre cada elemento y verifica su contenido
elementosEstado.forEach((elemento) => {
    const estadoTexto = elemento.textContent.trim();
    if (estadoTexto === "Entregado") {
        elemento.style.backgroundColor = "blue";
        elemento.style.color = "white";
    } else if (estadoTexto === "Prestado") {
        elemento.style.backgroundColor = "red";
        elemento.style.color = "white";
    }
});
// Selecciona todos los elementos con la clase "date1"
const date1Elements = document.getElementsByClassName("date1");

// Selecciona todos los elementos con la clase "date2"
const date2Elements = document.getElementsByClassName("date2");

// Ahora puedes trabajar con estos elementos según tus necesidades
// Por ejemplo, para ocultar la parte "(tiempo universal coordinado)":
for (const element of date1Elements) {
    element.textContent = element.textContent.replace(" (tiempo universal coordinado)", "");
}

for (const element of date2Elements) {
    element.textContent = element.textContent.replace(" (tiempo universal coordinado)", "");
}

</script>
{% endblock %}